/*button color*/
#red button {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
  -webkit-transition: width 500ms;
  border-color: red;
  color: white;
  font-family: 'Modak', cursive;
}

#blue button {
  width: 100px;
  height: 100px;
  background: blue;
  transition: width 2s;
  -webkit-transition: width 500ms;
  border-color: blue;
  color: white;
  font-family: 'Modak', cursive;
}

#green button {
  width: 100px;
  height: 100px;
  background: green;
  transition: width 2s;
  -webkit-transition: width 500ms;
  border-color: green;
  color: white;
  font-family: 'Modak', cursive;
}

#yellow button {
  width: 100px;
  height: 100px;
  background: yellow;
  transition: width 2s;
  -webkit-transition: width 500ms;
  border-color: yellow;
  color: white;
  font-family: 'Modak', cursive;
}

#orange button {
  width: 100px;
  height: 100px;
  background: orange;
  transition: width 2s;
  -webkit-transition: width 500ms;
  border-color: orange;
  color: white;
  font-family: 'Modak', cursive;
}

#purple button {
  width: 100px;
  height: 100px;
  background: purple;
  transition: width 2s;
  -webkit-transition: width 500ms;
  border-color: purple;
  color: white;
  font-family: 'Modak', cursive;
}
/*hover effects*/
#red button:hover {
  width: 100%;
}

#blue button:hover {
  width: 100%;
}

#green button:hover {
  width: 100%;
}

#yellow button:hover {
  width: 100%;
}

#orange button:hover {
  width: 100%;
}

#purple button:hover {
  width: 100%;
}

#red button:hover {
  width: 100%;
}
/*button background color*/
